

.registration-header {
    text-align: center;
    background-color: blue;
}
#event-page article:first-of-type {
    background-color: blanchedalmond;
    font-size: 1.25em;
    font-weight: bold;
}
.eventDetails {
    margin: 0em;
}
.editEventBtn {
    background-color: gray;
    border-radius: .5em;
    font: white;
}



